In [8]:
demo_tuple=('subash','perumal','mtech','firstname','lastname','education')
print(demo_tuple)

('subash', 'perumal', 'mtech', 'firstname', 'lastname', 'education')

Tupple is immutable

In [2]:
print(demo_tuple[1])

perumal

In [4]:
print(demo_tuple[:])
print(demo_tuple[::-1])

('subash', 'perumal', 'mtech', 'firstname', 'lastname', 'education')
('education', 'lastname', 'firstname', 'mtech', 'perumal', 'subash')

In [5]:
demo_tuple[1]='p'

TypeError: 'tuple' object does not support item assignment

In [7]:
demo_tuple=('subash','perumal','mtech','lastname')
print(demo_tuple)

('subash', 'perumal', 'mtech', 'lastname')

In [9]:
print(demo_tuple.index('mtech'))

2

In [10]:
demo_tup1=(1,2,4,5,6,7,7,7,8,8,7)
print(demo_tup1.count(7))

4

In [12]:
for i in demo_tuple:
    print(i)

subash
perumal
mtech
firstname
lastname
education

In [15]:
for i in demo_tuple:
    if i=='subash':
        print(i+' is my name')

subash is my name

In [16]:
    if 'mtech' in demo_tuple:
        print(i+' is his qualification')

education is his qualification